nav{
  background-color: skyblue;
  padding: 10px;
}
ul{
  list-style-type: none;
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
ul li a{
  text-decoration: none;
  font-size: 20px;
  color: black;
}
ul li a:hover{
  color: white;
}
h2{
  text-align: center;
  margin-top: 50px;
}
