*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,
body{
  height: 100%;
  width: 100%;
}
.parent{
  height: 100vh;
  width: 100%;
  background: #111;
  padding: 30%;
  display: flex;
gap: 30px;
}

.card{
  height: 350px;
  width: 280px;
  background:#fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card.top{
  display: flex;
  align-items: center;
justify-content: space-between;
margin-bottom: 30px;
}
.top img {
  height :40px;
  width: 40px;
  border-radius: 50%;
  border:1px solid #dadada;
  padding: 2px;
}
.top button{
  display: flex;
  align-items: center;
  border:1px solid #dadada;
  padding: 4px 8px;
  font-size: 11px;
  border-radius: 5px;
  gap:3px;
  background-color : transparent;
 color: #dadada
}
.center{
}
.center h3{
  font-size: 18px;
  font-weight: 500;
}
.center h3 span{
  font-size: 10px;
  font-weight: 400;
  color: #8b8b8b;
}
.center h2{
  font-size: 22px;
}
.center .tag{
  display: flex;
  margin-top: 10px;
  gap:5px;
}
.center .tag h4{
  font-size: 10px;
  background-color: #dadada;
  color:#111;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 3px;
}
.bottom{
display:flex;
align-items: center;
justify-content: space-between;
border-top:1px solid #d7d7d7;
padding: 15px 0;
}
.bottom button{
  background-color: black;
  color: white;
  padding : 5px, 10px;
  border: none;
  border-radius: 5px;
  column-width: 600px;
}
.bottom h3{
  font-size: 14px;
}
.bottom p{
  font-size: 12px;
  color: #8b8b8b;
}